/* MS: DELETED BTN STYLES AND MOVED THEM TO COMPONENTS.CSS FOR EVERYONE TO USE. NICE JOB ON THEM! */
/* NW: YAY! THANKS! :) */
.hero__jumbotron_about {
	background: url(../assets/images/stranger\ things\ season\ 3\ promo.jpeg);
	/* background-size: cover;
	background-repeat: no-repeat;
	background-position: center; */
}

.heading {
	text-align: center;
}

.subheading {
	text-align: center;
}

.body-text {
	font-size: var(--lg);
}

.poster {
	float: left;
	padding-right: 12px;
}

/* MS: LET'S USE GRID INSTEAD OF FLOATS */

/* START GALLERY */

.about__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.card-header_about {
	color: var(--primary_white);
}

.card-body_about {
	background: url(../assets/images/ST360_03_MindFlayer.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card-footer_about {
	background: var(--primary_red);
}

/* END GALLERY */
