/* MS: DELETED BTN STYLES AND MOVED THEM TO COMPONENTS.CSS FOR EVERYONE TO USE. NICE JOB ON THEM! */
/* NW: YAY! THANKS! :) */
.hero__jumbotron_about {
	background: url(../assets/images/stranger\ things\ season\ 3\ promo.jpeg);
	/* background-size: cover;
	background-repeat: no-repeat;
	background-position: center; */
}

.heading {
	text-align: center;
	text-transform: uppercase;
}

.subheading {
	text-align: center;
	text-transform: uppercase;
}

.body-text {
	font-size: var(--lg);
}

.poster {
	float: left;
	padding-right: 12px;
}

/* MS: LET'S USE GRID INSTEAD OF FLOATS */

/* START GALLERY */
.hero__jumbotron_about {
	height: 100%;
	width: 100%;
	background: url(../assets/images/stranger\ things\ season\ 3\ promo.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 3.5rem;
	align-items: center;
	text-align: center;
}

.about__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.card-header_about {
	color: var(--primary_white);
}

.card-body_about {
	background: url(../assets/images/ST360_03_MindFlayer.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.content__article {
	padding-bottom: 7rem;
}

/* END GALLERY */

/* START ARTICLE LINK TRANSITION */
.read-more {
	color: var(--accent_red);
	background-image: linear-gradient(var(--accent_red) 0 0);
    background-size: 0%;
    background-repeat: no-repeat;
    transition: .4s, background-position 0s;
}

.read-more:hover {
    color: var(--primary_white);
    background-size: 100%;
    background-position: right;
  }

/* END ARTICLE LINK TRANSITION */

/* START MEDIA QUERY FOR GALLERY */

@media screen and (max-width: 1100px) {
	.about__grid {
		grid-template-columns: 1fr;
	}
}

/* END MEDIA QUERY FOR GALLERY */