.hero__jumbotron_character {
	background: url(../assets/images/stranger\ things\ season\ 3\ promo.jpeg);
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 3.5rem;
	align-items: center;
	text-align: center;
}
