.character__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.card-header_character {
	color: var(--primary_white);
}

.card-body_character {
	background: url(../assets/images/ST360_03_MindFlayer.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card-footer_character {
	background: var(--primary_red);
}

.hero__jumbotron_character {
	background: url(../assets/images/ST360_03_MindFlayer.webp);
}
