/* 
THESE ARE ALL GENERIC COMPONENTS THAT ARE MEANT TO BE REUSED ON ANY PAGE. THESE RULES DEFINE THE STRUCTURE OF 
THE COMPONENT: SIZE, SHAPE, ETC. TO CUSTOMIZE ON YOUR PAGE ADD THE CLASS OF THE COMPONENT FROM THIS STYLE SHEET AND THEN CREATE
A NEW RULE ON THE PAGE SPECIFIC STYLE SHEET TO MODIFY THE COMPONENT USING BEM NAMING CONVENTIONS.

In this example I use card, card-header, card-body, card-footer from components.css to define a card on my page.
I then add modifier classes to characters.css to add background colors and an image to these elements. 

HTML: 
<div class="card">
	<div class="card-header card-header_character"></div>
	<div class="card-body card-body_character"></div>
	<div class="card-foote card-footer_character"></div>
</div>

STYLE SHEET RULE: 
.card-header_character {
    background: var(--primary_black);
}

.card-body_character {
    background: url('../assets/images/someimage.png');
}

.card-footer_character {
    background: var(--primary_red);
}

*/

/* START HEADER */
.header {
	height: 12.5rem;
	width: 100vw;
	background-color: var(--primary_black);
	display: flex;
	margin-bottom: 5rem;
}
/* END HEADER */

/* START NAVIGATION */
.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
}

.nav__logo {
	width: 70%;
	padding-left: 5rem;
}

.nav__links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 30%;
}

.nav__link {
	font-family: var(--st_book);
	color: var(--primary_red);
	font-size: var(--md);
}

.nav__link_social {
	font-size: var(--lg);
}
/* END NAVIGATION */

/* START BUTTONS */
.btn {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1.5rem 4rem;
}

.btn_primary-red {
	background: var(--primary_red);
}

.btn_primary-black {
	background: var(--primary_black);
}

.btn_primary-white {
	background: var(--primary_white);
}

.btn_accent-green {
	background: var(--accent_green);
}

.btn_accent-orange {
	background: var(--accent_orange);
}

.btn_accent-red {
	background: var(--accent_red);
}
/* END BUTTONS */

/* START HERO */
.hero {
	height: 40rem;
	width: 80vw;
	background: var(--accent_red);
	margin: 0 auto;
}

.hero__jumbotron {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/* END HERO */

/* START CARDS */
.card {
	height: 30rem;
	width: 35rem;
}

.card-header,
.card-footer {
	height: 20%;
	width: 100%;
}

.card-body {
	height: 80%;
	width: 100%;
}
/* END CARDS */

/* START FOOTER */
.footer {
	position: relative;
	left: 0;
	bottom: 0;
	height: 12.5rem;
	width: 100vw;
	background-color: var(--primary_black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
	padding-left: 5rem;
}
/* END FOOTER */
