.hero__jumbotron .hero__jumbotron_home .subheading {
	color: whitesmoke;
}

.home_background{
	height: 100%;
	width: 100%;
	background-image: url(../assets/images/sneaky-arts-main-2\ 2.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 3.5rem;
	align-items: center;
	text-align: center;
}

.body-text_home, .subheading_home {
	color: whitesmoke;
} 

.heading_home {
	color: whitesmoke;
}

.subheading_home {
	font-size: var(--lg);
}

.header_home, .footer_home {
	margin: 0;
}

.content_background {
	background-color: rgba(3, 48, 11, 0.75);
}
