.landing__container {
	min-height: 100vh;
	background-image: url(../assets/images/ST360_03_MindFlayer.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.landing__cta {
	display: flex;
	flex-direction: column;
	max-width: 35vw;
	margin: 0 auto;
	padding-top: 55rem;
}

.landing__cta_dim {
	opacity: 80%;
}
