/* MS: I THINK WE MIGHT WANT TO ADJUST OUR FONT SIZES  */

.heading {
	font-size: var(--xxl);
	font-family: var(--st_bold);
	color: var(--primary_red);
	text-transform: uppercase;
}

.subheading {
	font-size: var(--xl);
	font-family: var(--st_medium);
	color: var(--accent_red);
	text-transform: uppercase;
}

.section-headline {
	font-size: var(--lg);
	font-family: var(--st_medium);
	color: var(--accent_red);
	text-transform: uppercase;
}

.body-text {
	font-size: var(--sm);
	color: var(--primary_black);
	font-family: var(--st_book);
}

a {
	font-size: var(--sm);
	text-decoration: none;
	font-family: var(--st_book);
	color: var(--primary_white);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
